header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.board .container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.board .container .cell {
    border: 2px solid black;
}

.cell button {
    width: 100%;
    height: 100%;
}