@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "jersey20";
    src: url("../fonts/Jersey20-Regular.woff2") format("woff2");
    font-style: normal;
}

* {
    font-family: "jersey20","montserrat", Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
    text-rendering: optimizeLegibility;
}

header {
    text-align: center;
    font-size: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.board .container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.board .container .cell {
    border: 2px solid black;
    font-size: 4rem;
}

.cell button {
    width: 100%;
    height: 100%;
}

.player-turn .container {
    height: 2ch;
    font-size: 2rem;
}

button.reset {
    font-size: 2rem;
    padding: .5rem 1rem;
}

dialog {
    min-width: 300px;
    margin: 250px auto;
    padding: 2rem;
    font-size: 1.5rem;
}

dialog::backdrop {
    background-color: black;
    opacity: .7;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form button {
    font-size: 2rem;
}

.result-window {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    align-items: center;
}

footer .container{
    font-size:1.5rem;
    margin-top: 5rem;
    text-align: center;
    width: 100%;
}